# Python cache
__pycache__/
.vscode/

# Virtual environment
eeg_clean/
code/debug/

# Document files
*.docx
*.pdf

tmp/
young_control/
elderly_control/
new_iso_results/
new_elderly_results/
logs/
new_MCI_results/
MCI_results/
group_comparison_results/
